#header {
  h1 {
    display: inline-block;
    vertical-align: middle;
    img.phase-logo {
      height: 40px;
      vertical-align: middle;
    }
  }
}

#banner {
  .inner {
    h2 {
      display: inline-block;
      vertical-align: middle;
      img.phase-logo {
        height: 150px;
        vertical-align: middle;
      }
    }
    p {
      text-transform: none !important;
    }
  }
}

#talks {
  text-align: left;

  .title {
    font-style: italic;
  }

  .details {
    margin-left: 3em;
    ul {
      margin-left: 0;
      padding: 0;

      li {
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;
      }
    }
  }
}
