<div id="talk-block">
  {{! In the loop, you have access to each element's fields, implicitly.}}
  {{#talks}}
    <div class="talk">
      <div class="title">{{title}}</div>
      <div class="speaker">{{speaker}}</div>
      <div class="date">{{date}}</div>
      <div class="details">
        <ul>
          {{#meeting-link}}
          <li class="meetup-link">
            <a target="_blank" href="{{meeting_link}}">
              <i class="fab fa-meetup"></i> Meeting link
            </a>
          </li>
          {{/meeting-link}}
          {{#slides}}
          <li class="slides">
            <a target="_blank" class="slides-link" href="{{slides.link}}">
              <i class="fas fa-desktop"></i> Slides
            </a>
            {{#slides.comment}}
              <span class="slides-comment">({{slides.comment}})</span>
            {{/slides.comment}}
          </li>
          {{/slides}}
          {{#code_link}}
          <li class="code">
            <a target="_blank" class="code-link" href="{{code_link}}">
              <i class="fas fa-code"></i> Code
            </a>
          </li>
          {{/code_link}}
          {{#video}}
          <li>
            <a target="_blank" class="video-link" href="{{video}}">
              <i class="fas fa-video"></i> Video
            </a>
          </li>
          {{/video}}
          {{#resources}}
          <li>
            <a target="_blank" class="resources-link" href="{{resources}}">
              <i class="far fa-file-alt"></i> Resources
            </a>
          </li>
          {{/resources}}
        </ul>
      </div>
    </div>
  {{/talks}}
</div>
