
<div id="sidebar" class="well">
  <span><img src="logo.jpg" class="logo"></span>
  <ul>
    <li><a class="sidebar-link" id="sidebar-home" href="/">
      <i class="icon-home"></i>&nbsp;Home</a>
    </li>
    <li>
      <a class="sidebar-link" id="sidebar-preso" href="/talks.html">
        <i class="icon-file"></i>&nbsp;Previous&nbsp;Talks
      </a>
    </li>
    <li>
      <a class="sidebar-link" href="http://www.meetup.com/scala-phase">
        <i class="icon-share"></i>&nbsp;Meetup&nbsp;page
      </a>
    </li>
    <li>
      <a class="sidebar-link" href="mailto:contact@scala-phase.org">
        <i class="icon-envelope"></i>&nbsp;Contact&nbsp;us
      </a>
    </li>
  </ul>
</div>

<script type="text/javascript">

  $(document).ready(function() {

    var loc = window.location.pathname;
    $(".sidebar-link").removeClass("active");
    $(".sidebar-link").each(function() {
      if ($(this).attr("href") == loc) {
        $(this).addClass("active");
      }
    });
  });
</script>
