<h1>
  Selected Previous PHASE Talks
  {% include back-to-top.html %}
</h1>

<table class="talks-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Speaker</th>
      <th>Title</th>
      <th>Meeting Page</th>
      <th>Slides</th>
      <th>Code</th>
      <th>Other</th>
    </tr>
  </thead>

  <tbody>
      <tr class="even">
        <td class="date">2017-06-15</td>
        <td class="speaker">Marcus Henry</td>
        <td class="title">Introductory TyDD in Scala</td>
        <td class="meetup-link"><a href="https://www.meetup.com/scala-phase/events/239959892/">meetup.com/.../239959892</a></td>
        <td class="slides">
            <a class="slides-link" href="http://www.dreadedsoftware.com/s/PhaseTyDD.pdf">Slides</a>
        </td>
        <td class="code">
            <a class="code-link" href="https://github.com/dreadedsoftware/talks/tree/master/TyDD_in_Scala">github.com/dreadedsoftware/talks/tree/master/TyDD_in_Scala</a>
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="odd">
        <td class="date">2017-05-11</td>
        <td class="speaker">Brian Clapper</td>
        <td class="title">Contextual</td>
        <td class="meetup-link"><a href="https://www.meetup.com/scala-phase/events/238772095/">meetup.com/.../238772095</a></td>
        <td class="slides">
            <a class="slides-link" href="talks/contextual-2017-05-11">Slides</a>
        </td>
        <td class="code">
            <a class="code-link" href="https://github.com/bmc/contextual-presentation-2017/tree/master/demo">github.com/bmc/contextual-presentation-2017/tree/master/demo</a>
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="even">
        <td class="date">2016-12-08</td>
        <td class="speaker">Martin Snyder</td>
        <td class="title">Monadic Logging and You</td>
        <td class="meetup-link"><a href="https://www.meetup.com/scala-phase/events/234569159/">meetup.com/.../234569159</a></td>
        <td class="slides">
            <a class="slides-link" href="https://rawgit.com/MartinSnyder/monadic-logging/master/presentation/index.html">Slides</a>
        </td>
        <td class="code">
        </td>
        <td class="other">
            <a class="video-link" href="https://www.youtube.com/watch?v=t-YX55ZF4g0">Video</a>
        </td>
      </tr>
      <tr class="odd">
        <td class="date">2016-09-07</td>
        <td class="speaker">Matthew Butt</td>
        <td class="title">Scalatron!</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/231545055/">meetup.com/.../231545055</a></td>
        <td class="slides">
        </td>
        <td class="code">
            <a class="code-link" href="https://github.com/grandivory/scaltron-bot/">github.com/grandivory/scaltron-bot/</a>
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="even">
        <td class="date">2016-06-16</td>
        <td class="speaker">Brian Clapper</td>
        <td class="title">RDDs, DataFrames and Datasets in Apache Spark</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/229870987/">meetup.com/.../229870987</a></td>
        <td class="slides">
            <a class="slides-link" href="talks/rdds-dataframes-datasets-2016-06-16">Slides</a>
        </td>
        <td class="code">
            <a class="code-link" href="https://github.com/bmc/rdds-dataframes-datasets-presentation-2016/tree/master/demo">github.com/bmc/rdds-dataframes-datasets-presentation-2016/tree/master/demo</a>
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="odd">
        <td class="date">2016-05-18</td>
        <td class="speaker">Michael Pilquist</td>
        <td class="title">From Simulacrum to Typeclassic</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/229719231/">meetup.com/.../229719231</a></td>
        <td class="slides">
            <a class="slides-link" href="https://speakerdeck.com/mpilquist/from-simulacrum-to-typeclassic">Slides</a>
        </td>
        <td class="code">
        </td>
        <td class="other">
            <a class="video-link" href="https://www.youtube.com/watch?v=Crc2RHWrcLI">Video</a>
        </td>
      </tr>
      <tr class="even">
        <td class="date">2015-09-10</td>
        <td class="speaker">Brian Clapper</td>
        <td class="title">An Introduction to Spark Streaming</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/224774883/">meetup.com/.../224774883</a></td>
        <td class="slides">
            <a class="slides-link" href="talks/spark-streaming-2015-09-10">Slides</a>
        </td>
        <td class="code">
        </td>
        <td class="other">
            <a class="video-link" href="https://www.youtube.com/watch?v=2STfulBcorA">Video</a>
        </td>
      </tr>
      <tr class="odd">
        <td class="date">2015-04-22</td>
        <td class="speaker">Michael Pilquist</td>
        <td class="title">An Introduction to Shapeless via Scodec</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/221842395/">meetup.com/.../221842395</a></td>
        <td class="slides">
            <a class="slides-link" href="talks/shapeless-2015-04-22.pdf">Slides</a>
        </td>
        <td class="code">
        </td>
        <td class="other">
            <a class="video-link" href="https://www.youtube.com/watch?v=eNJ6ZbbrP2A">Video</a>
        </td>
      </tr>
      <tr class="even">
        <td class="date">2015-03-19</td>
        <td class="speaker">Brian Clapper</td>
        <td class="title">Messing Around with Typesafe Slick</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/221076940/">meetup.com/.../221076940</a></td>
        <td class="slides">
            <a class="slides-link" href="talks/slick-2015-03-19/index.html">Slides</a>
        </td>
        <td class="code">
            <a class="code-link" href="https://github.com/bmc/slick-presentation-2015-03-19">github.com/bmc/slick-presentation-2015-03-19</a>
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="odd">
        <td class="date">2014-12-09</td>
        <td class="speaker">Michael Pigg and Ken Rimple</td>
        <td class="title">Reactive applications with Scala and AngularJS</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/218821822/">meetup.com/.../218821822</a></td>
        <td class="slides">
        </td>
        <td class="code">
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="even">
        <td class="date">2014-10-21</td>
        <td class="speaker">Helena Edelson</td>
        <td class="title">Escape From Hadoop: Spark Streaming, Cassandra, Scala &amp; Akka</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/200903832/">meetup.com/.../200903832</a></td>
        <td class="slides">
            <a class="slides-link" href="http://www.slideshare.net/HelenaEdelsonGram/escape-from-hadoop-with-apache-spark-and-cassandra">Slides</a>
        </td>
        <td class="code">
        </td>
        <td class="other">
            <a href="javascript:void(0)" class="resources-link"
               data-state="closed" data-resources-id="resources-10">
              Resources
              <span class="pointer pointer-closed fa fa-caret-right"></span>
              <span class="pointer pointer-open fa fa-caret-down" style="display: none"></span>
            </a>
        </td>
      </tr>
      <tr id="resources-10" style="display: none">
        <td colspan="7">
          <iframe src="talks/helena/resources.html" width="100%" height="100%"></iframe>
        </td>
      </tr>
      <tr class="odd">
        <td class="date">2014-09-16</td>
        <td class="speaker">Martin Snyder</td>
        <td class="title">Live coding a CRUD database in Scala</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/196933482/">meetup.com/.../196933482</a></td>
        <td class="slides">
        </td>
        <td class="code">
            <a class="code-link" href="https://github.com/MartinSnyder/scala-transactional-datastore">github.com/MartinSnyder/scala-transactional-datastore</a>
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="even">
        <td class="date">2014-07-24</td>
        <td class="speaker">Brad Miller</td>
        <td class="title">The Scala-Graph Library</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/179613752/">meetup.com/.../179613752</a></td>
        <td class="slides">
            <a class="slides-link" href="talks/brad-miller-scala-graph.pdf">Slides</a>
        </td>
        <td class="code">
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="odd">
        <td class="date">2014-06-12</td>
        <td class="speaker">Jason Feingold</td>
        <td class="title">Haskell and React.js</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/179229002/">meetup.com/.../179229002</a></td>
        <td class="slides">
        </td>
        <td class="code">
            <a class="code-link" href="https://github.com/wafna/">github.com/wafna/</a>
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="even">
        <td class="date">2014-05-20</td>
        <td class="speaker">Dustin Getz &amp; Daniel Miladinov</td>
        <td class="title">React.js and functional JavaScript</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/167318632/">meetup.com/.../167318632</a></td>
        <td class="slides">
        </td>
        <td class="code">
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="odd">
        <td class="date">2014-04-24</td>
        <td class="speaker">Roland Kuhn</td>
        <td class="title">Roland Kuhn leads a Q&amp;A and live coding session</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/167166802/">meetup.com/.../167166802</a></td>
        <td class="slides">
        </td>
        <td class="code">
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="even">
        <td class="date">2014-03-20</td>
        <td class="speaker">Gary Keorkunian</td>
        <td class="title">Viridity&#39;s Scala Units of Measure and Quantities API</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/167166322/">meetup.com/.../167166322</a></td>
        <td class="slides">
            <a class="slides-link" href="http://www.squants.com/squants-phase-mar2014.pdf">Slides</a>
        </td>
        <td class="code">
            <a class="code-link" href="http://www.squants.com/">www.squants.com/</a>
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="odd">
        <td class="date">2013-09-25</td>
        <td class="speaker">Martin Snyder</td>
        <td class="title">Writing Functional Wrappers for Legacy APIs (joint meeting of PHASE and PhillyJUG)</td>
        <td class="meetup-link"><a href="http://phillyjug.com/2013/09/25/wrappers/">phillyjug.com/2013/09/25/wrappers/</a></td>
        <td class="slides">
            <a class="slides-link" href="https://rawgithub.com/MartinSnyder/scala-jdbc/master/presentation/index.html">Slides</a>
        </td>
        <td class="code">
            <a class="code-link" href="https://github.com/MartinSnyder/scala-jdbc">github.com/MartinSnyder/scala-jdbc</a>
        </td>
        <td class="other">
            <a class="video-link" href="http://vimeo.com/75591447">Video</a>
        </td>
      </tr>
      <tr class="even">
        <td class="date">2013-07-09</td>
        <td class="speaker">Jason Feingold</td>
        <td class="title">Gradle and Scala</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/125411192/">meetup.com/.../125411192</a></td>
        <td class="slides">
            <a class="slides-link" href="http://scala-phase.org/talks/jason-feingold-gradle/">Slides</a>
        </td>
        <td class="code">
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="odd">
        <td class="date">2013-04-16</td>
        <td class="speaker">Dmitriy Setrakyan</td>
        <td class="title">Pearls of Distributed Programming with Scala and GridGain</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/112878592/">meetup.com/.../112878592</a></td>
        <td class="slides">
        </td>
        <td class="code">
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="even">
        <td class="date">2012-12-04</td>
        <td class="speaker">Duncan Devore</td>
        <td class="title">CQRS and Event Sourcing</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/88673682/">meetup.com/.../88673682</a></td>
        <td class="slides">
            <a class="slides-link" href="talks/duncan-devore-cqrs/">Slides</a>
        </td>
        <td class="code">
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="odd">
        <td class="date">2012-10-23</td>
        <td class="speaker">Nick McAvoy</td>
        <td class="title">Typesafe Slick</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/85382662/">meetup.com/.../85382662</a></td>
        <td class="slides">
            <a class="slides-link" href="http://ohbadiah.github.io/phase_slick/">Slides</a>
        </td>
        <td class="code">
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="even">
        <td class="date">2012-10-02</td>
        <td class="speaker">Brian Clapper</td>
        <td class="title">The Play! Framework</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/82990972/">meetup.com/.../82990972</a></td>
        <td class="slides">
            <a class="slides-link" href="http://www.ardentex.com/publications/the-play-framework/slides.html">Slides</a>
        </td>
        <td class="code">
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="odd">
        <td class="date">2012-06-12</td>
        <td class="speaker">Yuvi Masory</td>
        <td class="title">Scalaz, Monads, Functors and You</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/63156772/">meetup.com/.../63156772</a></td>
        <td class="slides">
            <a class="slides-link" href="talks/yuvi-masory-scalaz.pdf">Slides</a>
        </td>
        <td class="code">
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="even">
        <td class="date">2012-05-15</td>
        <td class="speaker">Adam Hinz and George Adams</td>
        <td class="title">Dispatch, Unfiltered, Blue Eyes and Play: A Comparison</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/60768832/">meetup.com/.../60768832</a></td>
        <td class="slides">
        </td>
        <td class="code">
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="odd">
        <td class="date">2012-01-26</td>
        <td class="speaker">Mads Hartmann Jenson</td>
        <td class="title">Building SBT Plugins</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/47857352/">meetup.com/.../47857352</a></td>
        <td class="slides">
            <a class="slides-link" href="talks/mads-sbt-plugins.pdf">Slides</a>
        </td>
        <td class="code">
            <a class="code-link" href="https://github.com/mads379/sbt-plugin-examples">github.com/mads379/sbt-plugin-examples</a>
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="even">
        <td class="date">2011-11-15</td>
        <td class="speaker">Yuvi Masory</td>
        <td class="title">Scala on the Android Platform</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/39391912/">meetup.com/.../39391912</a></td>
        <td class="slides">
        </td>
        <td class="code">
        </td>
        <td class="other">
            <a class="video-link" href="http://vimeo.com/32516782">Video</a>
        </td>
      </tr>
      <tr class="odd">
        <td class="date">2011-10-18</td>
        <td class="speaker">Brian Clapper</td>
        <td class="title">SBT 0.10 and 0.11 Overview</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/35297532/">meetup.com/.../35297532</a></td>
        <td class="slides">
            <a class="slides-link" href="http://www.ardentex.com/publications/intro-sbt/slides.html">Slides</a>
        </td>
        <td class="code">
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="even">
        <td class="date">2011-09-20</td>
        <td class="speaker">Erik Osheim</td>
        <td class="title">Scala Type Classes</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/31595792/">meetup.com/.../31595792</a></td>
        <td class="slides">
            <a class="slides-link" href="http://plastic-idolatry.com/typcls/">Slides</a>
        </td>
        <td class="code">
        </td>
        <td class="other">
        </td>
      </tr>
      <tr class="odd">
        <td class="date">2011-08-10</td>
        <td class="speaker">Jamie Allen</td>
        <td class="title">Disrupters</td>
        <td class="meetup-link"><a href="http://www.meetup.com/scala-phase/events/26666971/">meetup.com/.../26666971</a></td>
        <td class="slides">
            <a class="slides-link" href="talks/jamie-allen-sdisruptor/index.html">Slides</a>
        </td>
        <td class="code">
            <a class="code-link" href="https://github.com/jamie-allen/sdisruptor">github.com/jamie-allen/sdisruptor</a>
        </td>
        <td class="other">
        </td>
      </tr>
  </tbody>
</table>

<div id="dialog"></div>
