#header h1 {
  display: inline-block;
  vertical-align: middle;
}
#header h1 img.phase-logo {
  height: 40px;
  vertical-align: middle;
}
#banner .inner h2 {
  display: inline-block;
  vertical-align: middle;
}
#banner .inner h2 img.phase-logo {
  height: 150px;
  vertical-align: middle;
}
#banner .inner p {
  text-transform: none !important;
}
tr.talk td {
  text-align: left;
}
tr.talk .details ul li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
