/* Main stylesheet */
.btn {
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  min-width: 60px;
  min-height: 40px;
  background: #dddddd;
}
.btn.btn-primary {
  background: #4189c7;
  /* Old browsers */
  /*
    background: -moz-linear-gradient(top, @fromColor 0%, @toColor 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4189c7), color-stop(100%, #236da4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4189c7 0%, #236da4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4189c7 0%, #236da4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4189c7 0%, #236da4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #4189c7 0%, #236da4 100%);
  /* W3C */
  border: 1px solid #0f92a3;
  color: white;
}
.btn.btn-primary:disabled {
  background: #90a8ab;
  /* Old browsers */
  /*
    background: -moz-linear-gradient(top, @fromColor 0%, @toColor 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #90a8ab), color-stop(100%, #8b9aa6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #90a8ab 0%, #8b9aa6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #90a8ab 0%, #8b9aa6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #90a8ab 0%, #8b9aa6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #90a8ab 0%, #8b9aa6 100%);
  /* W3C */
}
.btn.btn-warning {
  background: #c9302c;
  /* Old browsers */
  /*
    background: -moz-linear-gradient(top, @fromColor 0%, @toColor 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9302c), color-stop(100%, #d43f3a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c9302c 0%, #d43f3a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c9302c 0%, #d43f3a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c9302c 0%, #d43f3a 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #c9302c 0%, #d43f3a 100%);
  /* W3C */
  color: white;
}
.btn.btn-tiny {
  min-width: 20px;
  min-height: 15px;
  font-size: 15px;
  padding: 1px;
  border-radius: 2px 2px 2px 2px;
}
@media (only screen and (min-width: 241px) and (max-width: 719px)) or (only screen and (min-width: 720px) and (max-width: 959px)) {
  .btn.btn-tiny {
    font-size: 17px;
    min-height: 17px;
  }
}
.btn.btn-small {
  min-width: 40px;
  min-height: 30px;
  font-size: 17px;
  padding: 5px;
}
.btn.btn-large {
  min-width: 70px;
  min-height: 50px;
  font-size: 23px;
}
.btn.btn-xlarge {
  min-width: 100px;
  min-height: 80px;
  font-size: 25px;
}
.btn.btn-borderless {
  margin-left: 10px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  border: none;
  background: transparent !important;
  text-decoration: none;
}
.btn.btn-borderless:hover {
  cursor: pointer;
}
.btn.btn-borderless.cancel {
  color: red !important;
}
.btn.btn-borderless.save {
  color: green !important;
}
/* Simple gradient from one color (at the top) to another color (at the bottom). */
body {
  background-color: #D9EBFC;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 20px;
}
@media only screen and (min-width: 241px) and (max-width: 719px) {
  body {
    font-size: 19px;
  }
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  body {
    font-size: 18px;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  body {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
.section {
  width: 95%;
  margin-left: 30px;
}
a {
  text-decoration: none;
  color: blue;
}
a:hover {
  background: #4681BB;
  color: white;
}
a:visited {
  color: blue;
}
a:visited:hover {
  background: #4681BB;
  color: white;
}
.back-to-top {
  font-size: 20px;
  margin-left: 20px;
  white-space: nowrap;
}
.back-to-top a {
  color: #999999;
}
.floating-footer {
  float: right;
  padding-bottom: 20px;
}
.resources-link {
  white-space: nowrap;
}
.resources-link .pointer {
  font-size: 16px;
}
.navbar {
  background-color: #4681BB;
  height: 200px;
}
.navbar .banner span {
  display: table-cell;
  padding-left: 20px;
}
.navbar .banner span.banner-image {
  padding-left: 0;
}
.navbar .banner .banner-image img.logo {
  height: 180px;
  vertical-align: middle;
}
.navbar .title {
  color: white;
  white-space: wrap;
  margin-left: 20px;
}
@media only screen and (min-width: 241px) and (max-width: 719px) {
  .navbar .title {
    font-size: 22.8px;
  }
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .navbar .title {
    font-size: 27px;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  .navbar .title {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar .title {
    font-size: 40px;
  }
}
.navlinks {
  margin-top: 20px;
}
.navlinks a {
  color: black;
  font-size: 25px;
  vertical-align: bottom;
}
.navlinks a:hover {
  background-color: #4681BB;
  color: white;
}
.navlinks a:active {
  color: red;
}
/*
#top-section {
  background-color: @navbarBackgroundColor;
}

#about {
  background-color: #FCFFC1;
}

#talks {
  background-color: #FCE8EC;
}
*/
table {
  font-size: 20px;
  width: 100%;
  margin-top: 20px;
  border-width: 0;
  border-spacing: 2px;
  border-style: none;
  border-collapse: collapse;
}
table thead {
  background: rgba(255, 255, 255, 0.3);
}
table thead tr {
  border-bottom: 1px solid #808080;
  border-top: 1px solid #808080;
}
table thead th {
  border-width: 0;
  padding: 5px;
  border-style: none;
  background: rgba(255, 255, 255, 0.3);
  text-align: left;
}
table tbody tr {
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}
table tbody tr.odd {
  background: transparent;
}
table tbody tr.even {
  background: rgba(255, 255, 255, 0.3);
}
table tbody td {
  border-width: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  margin-right: 15px;
  padding-left: 0;
  border-style: none;
}
table.talks-table .date {
  padding-right: 10px;
}
table.talks-table .title {
  font-style: italic;
  max-width: 200px;
}
table.talks-table .code-link {
  font-family: monospace;
  font-size: smaller;
}
table.talks-table .slides .slides-comment {
  font-style: italic;
  display: block;
}
table.talks-table .talk .details ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 25px;
}
